langchain
langchain-core
langchain-community

# Models

langchain-groq
langchain-mistralai

# Embeddings

sentence-transformers

# Vector Database

chromadb

# Data handling

pypdf
python-dotenv

# Optional utilities

tiktoken

# HuggingFace integration

langchain-huggingface

# UI (optional)

streamlit
